<div class="main_content" style="margin-left: 500px">
  <div class="container">
    <div *ngIf="status === '97'">
      <h1>Thanh toán không thành công</h1>
      <a
        [routerLink]="['/cart']"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Quay lại trang thanh toán</a
      >
    </div>

    <div *ngIf="status !== '97'">
      <h1>Thanh toán thành công</h1>
      <a
        [routerLink]="['/']"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Tiếp tục học hỏi kiến thức</a
      >
    </div>
  </div>
</div>
