
<style>
  #wrapper {
    background-color: rgba(59, 130, 246, 0.5);
  }
</style>
<div id="wrapper" class="flex flex-col justify-between h-screen">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <!-- header-->

  <!-- Content-->
  <div>
    <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <form
        class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md"
      >
        <h1 class="lg:text-2xl text-xl font-semibold mb-6">Đăng nhập</h1>

        <div>
          <label class="mb-0" for="email"> Email </label>
          <input
            type="email"
            id="email"
            placeholder="Info@example.com"
            [(ngModel)]="loginData.email"
            name="Email"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <label class="mb-0" for="password"> Mật khẩu </label>
          <input
            type="password"
            id="password"
            name="MatKhau"
            [(ngModel)]="loginData.password"
            placeholder="******"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <button
            type="button"
            class=""
            (click)="login()"
            style="
              background-color: goldenrod;
              padding: 1rem;
              border-radius: 10px;
              margin-left: 130px;
              color: white;
            "
          >
            Đăng nhập
          </button>
        </div>
        <div class="uk-heading-line uk-text-center">
          <span> Nếu đã có tài khoản</span>
        </div>
        <a [title]="'Đăng ký'" [routerLink]="['/account/register']" style="color: cornflowerblue;text-align: center;margin-left: 160px;margin-top: 10px;"
          >Đăng ký
        </a>
      </form>
    </div>
  </div>
  <!-- Footer -->
  
</div>
