<div id="wrapper" class="flex flex-col justify-between h-screen">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <!-- header-->

  <!-- Content-->
  <div>
    <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <form
        class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md"
      >
        <h1 class="lg:text-2xl text-xl font-semibold mb-6">Đăng nhập</h1>

        <div>
          <label class="mb-0" for="email"> Email </label>
          <input
            type="email"
            id="email"
            placeholder="Info@example.com"
            [(ngModel)]="loginData.email"
            name="Email"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <label class="mb-0" for="password"> Mật khẩu </label>
          <input
            type="password"
            id="password"
            name="MatKhau"
            [(ngModel)]="loginData.password"
            placeholder="******"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <button
            type="button"
            class=""
            (click)="login()" style="background-color: goldenrod; padding: 1rem;border-radius: 10px;margin-left: 130px; color: white;"
          >
            Đăng nhập
          </button>
        </div>
        <div class="uk-heading-line uk-text-center py-5">
          <span> Nếu đã có tài khoản</span>
        </div>
        <a
          [title]="'Đăng ký'"
          [routerLink]="['/account/register']"
          class="hidden relative lg:flex items-center justify-start w-full py-3 mt-2 overflow-hidden text-lg font-medium text-white bg-indigo-600 rounded-lg cursor-pointer"
        ><span class="" style="background-color: #2a41e8; padding: 1rem;border-radius: 10px;margin-left: 130px; color: white;"
        >Đăng ký</span
      >
        </a>
       
      </form>
    </div>
  </div>
  <!-- Footer -->
  <div class="lg:mb-5 py-3 uk-link-reset">
    <div
      class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3"
    >
      <div class="flex space-x-2 text-gray-700 uppercase">
        <a href="#"> About</a>
        <a href="#"> Help</a>
        <a href="#"> Terms</a>
        <a href="#"> Privacy</a>
      </div>
      <p class="capitalize">© copyright 2021 by Courseplus</p>
    </div>
  </div>
</div>
