<div class="sidebar">
  <div class="sidebar_inner" data-simplebar>
    <ul class="side-colored">
      <li class="active">
        <a [title]="'Khám phá'" [routerLink]="['/courselist']">
          <!-- <ion-icon name="compass" class="bg-gradient-to-br from-purple-300 p-1 rounded-md side-icon text-opacity-80 text-white to-blue-500">
                        </ion-icon> -->
          <span> Khám phá</span>
        </a>
      </li>
   
      <li>
        <a [title]="'Thể loại'" [routerLink]="['/categories']">
          <!-- <ion-icon name="albums"  class="bg-gradient-to-br from-green-300 p-1 rounded-md side-icon text-opacity-80 text-white to-green-500">
                        </ion-icon> -->
          <span> Thể loại </span>
        </a>
      </li>
     
      <li>
        <a [title]="'Bài viết'" [routerLink]="['/blog']">
          <!-- <ion-icon name="book" class="bg-gradient-to-br from-yellow-300 p-1 rounded-md side-icon text-opacity-80 text-white to-red-500">
                        </ion-icon> -->
          <span> Bài viết </span>
        </a>
      </li>
      
    </ul>
    <ul class="side_links" data-sub-title="Các trang khác">
      <li>
        <a href="/assets/courseplus/default/page-pricing.html">
          <!-- <ion-icon name="card-outline" class="side-icon"></ion-icon> -->
          Giá cả
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/page-help.html">
          <!-- <ion-icon name="information-circle-outline" class="side-icon"></ion-icon> -->
          Giúp đỡ
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/page-faq.html">
          <!-- <ion-icon name="albums-outline" class="side-icon"></ion-icon>  -->
          Hỏi đáp
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/page-forum.html">
          <!-- <ion-icon name="chatbubble-ellipses-outline" class="side-icon"></ion-icon>  -->
          Diễn đàn <span class="soon">mới</span>
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/pages-cart.html">
          <!-- <ion-icon name="receipt-outline" class="side-icon"></ion-icon>  -->
          Dánh sách giỏ hàng
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/pages-account-info.html">
          <!-- <ion-icon name="reader-outline" class="side-icon"></ion-icon>  -->
          Đơn hàng
        </a>
      </li>
      <li>
        <a href="/assets/courseplus/default/pages-payment-info.html">
          <!-- <ion-icon name="wallet-outline" class="side-icon"></ion-icon>  -->
          Thanh toán</a
        >
      </li>
      <!-- <li><a href="/assets/courseplus/default/page-term.html"> <ion-icon name="document-outline" class="side-icon"></ion-icon> Term </a></li>
                <li><a href="/assets/courseplus/default/page-privacy.html"> <ion-icon name="document-text-outline" class="side-icon"></ion-icon> Privacy </a></li> 
                <li><a href="/assets/courseplus/default/page-setting.html"> <ion-icon name="settings-outline" class="side-icon"></ion-icon> Setting </a></li>  -->
      <li>
        <a href="#"> Phát triển </a>
        <ul>
          <li>
            <a href="/assets/courseplus/default/development-elements.html">
              Elements
            </a>
          </li>
          <li>
            <a href="/assets/courseplus/default/development-components.html">
              Compounents
            </a>
          </li>
          <li>
            <a href="/assets/courseplus/default/development-plugins.html">
              Plugins
            </a>
          </li>
          <li>
            <a href="/assets/courseplus/default/development-icons.html">
              Icons
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"> Xác thực </a>
        <ul>
          <li>
            <a href="/assets/courseplus/default/form-login.html">form login </a>
          </li>
          <li>
            <a href="/assets/courseplus/default/form-register.html"
              >form register</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="side_foot_links">
      <a href="#">About</a>
      <a href="#">Blog </a>
      <a href="#">Careers</a>
      <a href="#">Support</a>
      <a href="#">Contact Us </a>
      <a href="#">Developer</a>
      <a href="#">Terms of service</a>
    </div>
  </div>
  <div
    class="side_overly"
    uk-toggle="target: #wrapper ; cls: is-collapse is-active"
  ></div>
</div>
