
<style>
  #wrapper {
    background-color: rgba(59, 130, 246, 0.5);
  }
</style>
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css"
  rel="stylesheet"
/>
<div id="wrapper" class="flex flex-col justify-between h-screen">
  <!-- header-->
  
  <!-- Content-->
  <div>
    <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <form
        class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md"
      >
        <h1
          class="lg:text-2xl text-xl font-semibold mb-6"
          style="text-align: center"
        >
          Đăng ký
        </h1>

        <div>
          <label class="mb-0" for="username"> Tên người dùng </label>
          <input
            [(ngModel)]="user.userName"
            name="TenNguoiDung"
            type="text"
            placeholder="Tên người dùng"
            id="username"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <label class="mb-0" for="email"> Địa chỉ Email </label>
          <input
            type="email"
            placeholder="abcd@gmail.com"
            id="email"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            [(ngModel)]="user.email"
            name="Email"
            style="border: 1px grey solid"
          />
        </div>
        <div>
          <label class="mb-0" for="password"> Mật khẩu </label>
          <input
            type="password"
            placeholder="******"
            id="password"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            [(ngModel)]="user.password"
            name="MatKhau"
            style="border: 1px grey solid"
          />
        </div>

        <div>
          <label class="mb-0" for="password"> Nhập lại mật khẩu </label>
          <input
            type="password"
            placeholder="******"
            id="password"
            class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full"
            [(ngModel)]="rePass"
            name="rePass"
            style="border: 1px grey solid"
          />
        </div>

        <div>
          <button
            type="button"
            style="
              background-color: cornflowerblue;
              padding: 1rem;
              border-radius: 10px;
              text-align: center;
              color: white;
            "
            (click)="register()"
          >
            Đăng ký
          </button>
        </div>
        <div>
          Nếu đã có tài khoản
          <span>
            <a [href]="['/account/login']"> Đi đến đăng nhập</a>
          </span>
        </div>
      </form>

     
    </div>
  </div>
  <!-- Footer -->

</div>
