<div
  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
  style="width: 1000px"
>
  <div class="card">
    <h5 class="card-header">Danh mục</h5>
    <div class="card-body">
      <div class="needs-validation" novalidate>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="validationCustom01">Tên danh mục</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              value=""
              name=""
              required
              [(ngModel)]="cate.tendm"
            />
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
            <label for="validationCustom02">Ảnh khóa học</label>
            <form
              (ngSubmit)="onSubmit()"
              enctype="multipart/form-data"
              class="d-flex"
            >
              <input
                type="file"
                class="form-control"
                id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
                name="image"
                (change)="onFileSelected($event)"
              />
              <button
                class="btn btn-success"
                type="submit"
                id="inputGroupFileAddon04"
              >
                Tải Lên
              </button>
            </form>
            <img *ngIf="imageUrl" [src]="imageUrl" width="150" height="200" />
            <img
              *ngIf="cate.anhdm !== ''"
              [src]="cate.anhdm"
              src=""
              alt=""
              width="150"
              height="200"
            />
          </div>
        </div>

        <div class="form-row mt-5">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            style="display: flex; justify-content: space-between"
          >
            <button
              *ngIf="type === 'create'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('create')"
            >
              Tạo
            </button>
            <button
              *ngIf="type === 'edit'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('edit')"
            >
              Cập nhật
            </button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
