<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Basic Page Needs
    ================================================== -->
    <title>Courseplus Template</title>
    <link rel="canonical" href="https://demo.foxthemes.net" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Courseplus is - Professional A unique and beautiful collection of UI elements"
    />
    <!-- Favicon -->
  </head>
  <body>
    <div id="wrapper" class="is-verticle">
      <!--  Header  -->
      <app-header></app-header>
      <!-- Main Contents -->
      <router-outlet></router-outlet>
      <!-- sidebar -->
      <app-sidebar></app-sidebar>
    </div>
  </body>
</html>
