<header
  class="is-transparent is-dark border-b backdrop-filter backdrop-blur-2xl"
  uk-sticky="cls-inactive: is-dark is-transparent border-b"
>
  <div class="header_inner" style="width: 1800px">
    <div class="left-side">
      <!-- Logo -->
      <div id="logo" >
        <a href="index.html">
          <img src="../../../assets/home/images/logo.png" alt="" />
          <img
            src="https://demo.foxthemes.net/courseplus/assets/images/logo.png"
            class="logo_inverse"
            alt=""
          />
          <img
            src="../../../assets/home/images/logo-mobile.png"
            class="logo_mobile"
            alt=""
          />
        </a>
      </div>
      <!-- icon menu for mobile -->
      <div class="triger" uk-toggle="target: #wrapper ; cls: is-active"></div>
    </div>
    <div class="right-side">
      <!-- Header search box  -->
      <div class="header_search">
        <i class="uil-search-alt"></i>
        <input
          value=""
          type="text"
          class="form-control"
          placeholder=" Quick search for anything.."
          autocomplete="off"
        />
      </div>
      <div style="display: flex;">
        <div>
          <a href="#" class="header_widgets">
            <!-- <ion-icon name="cart-outline" class="is-icon"></ion-icon> -->
          </a>
          <div uk-drop="mode: click" class="dropdown_cart">
            <div class="cart-headline">
              My Cart
              <a href="#" class="checkout">Checkout</a>
            </div>
            <ul class="dropdown_cart_scrollbar" data-simplebar>
              <li>
                <div class="cart_avatar">
                  <img
                    src="../../../assets/home/images/courses/img-1.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>Learn Angular Beginner to Advanced Fundamentals</h4>
                </div>
                <div class="cart_price">
                  <span> $12.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
              <li>
                <div class="cart_avatar">
                  <img
                    src=".../../../assets/home/images/courses/img-1.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>Become a Web Developer from Scratch to Advanced</h4>
                </div>
                <div class="cart_price">
                  <span> $19.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
              <li>
                <div class="cart_avatar">
                  <img
                    src=".../../../assets/home/images/courses/img-2.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>Angular Fundamentals for Beginner to advance</h4>
                </div>
                <div class="cart_price">
                  <span> $12.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
              <li>
                <div class="cart_avatar">
                  <img
                    src=".../../../assets/home/images/courses/img-3.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>Ultimate Web Developer Course for Beginners 2020</h4>
                </div>
                <div class="cart_price">
                  <span> $14.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
              <li>
                <div class="cart_avatar">
                  <img [src]="" alt="" />
                </div>
                <div class="cart_text">
                  <h4>The Complete JavaScript From beginning to advance</h4>
                </div>
                <div class="cart_price">
                  <span> $16.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
              <li>
                <div class="cart_avatar">
                  <img
                    src=".../../../assets/home/images/courses/img-5.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>Become a Web Developer from Scratch to Advanced</h4>
                </div>
                <div class="cart_price">
                  <span> $12.99 </span>
                  <button class="type">Remove</button>
                </div>
              </li>
            </ul>
            <div class="cart_footer">
              <p>Subtotal : $ 320</p>
              <h1>Total : <strong> $ 320</strong></h1>
            </div>
          </div>
        </div>
 

        <div>
          <a href="#">
            <img
              src="../../../assets/home/images/avatars/placeholder.png"
              class="header_widgets_avatar"
              alt=""
            />
          </a>
          <div
            uk-drop="mode: click;offset:5"
            class="header_dropdown profile_dropdown"
          >
            <ul>
              <li>
                <a href="#" class="user">
                  <div class="user_avatar">
                    <img
                      src="../../../assets/home/images/avatars/avatar-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="user_name">
                    <div>Stella Johnson</div>
                    <span> </span>
                  </div>
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a href="#" class="is-link">
                  <!-- <ion-icon name="rocket-outline" class="is-icon"></ion-icon> <span>  Upgrade Membership  </span> -->
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="person-circle-outline" class="is-icon"></ion-icon> -->
                  My Account
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="card-outline" class="is-icon"></ion-icon> -->
                  Subscriptions
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  My Billing
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="settings-outline" class="is-icon"></ion-icon> -->
                  Account Settings
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a
                  href="#"
                  id="night-mode"
                  class="btn-night-mode"
                  onclick="UIkit.notification({ message: '/assets/courseplus/default/Hmm...-strong-Nightmode-/strong-featureisnotavailableyet.html' , pos: '/assets/courseplus/default/bottom-right.html'  })"
                >
                  <!-- <ion-icon name="moon-outline" class="is-icon"></ion-icon> -->
                  Night mode
                  <span class="btn-night-mode-switch">
                    <span class="uk-switch-button"></span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="log-out-outline" class="is-icon"></ion-icon> -->
                  Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>

       
      </div>
    </div>
  </div>
</header>
