<header
  class="is-transparent is-dark border-b backdrop-filter backdrop-blur-2xl"
  uk-sticky="cls-inactive: is-dark is-transparent border-b"
>
  <div class="header_inner" style="width: 1800px">
    <div class="left-side">
      <!-- Logo -->
      <div id="logo">
        <a href="index.html">
          <img src="../../../assets/home/images/logo.png" alt="" />
          <img
            src="https://demo.foxthemes.net/courseplus/assets/images/logo.png"
            class="logo_inverse"
            alt=""
          />
          <img
            src="../../../assets/home/images/logo-mobile.png"
            class="logo_mobile"
            alt=""
          />
        </a>
      </div>
      <!-- icon menu for mobile -->
      <div class="triger" uk-toggle="target: #wrapper ; cls: is-active"></div>
    </div>
    <div class="right-side">
      <!-- Header search box  -->
      <div class="header_search">
        <i class="uil-search-alt"></i>
        <input
          value=""
          type="text"
          class="form-control"
          placeholder=" Quick search for anything.."
          autocomplete="off"
        />
      </div>
      <div style="display: flex" *ngIf="statusLogin">
        <div>
          <fa-icon [icon]="faCartShopping"></fa-icon>

          <div uk-drop="mode: click" class="dropdown_cart" style="margin-right: 50px;">
            <div class="cart-headline">
              <a
                class="header_widgets"
                [title]="'Giỏ hàng'"
                [routerLink]="['/cart']"
              >
                Giỏ hàng
              </a>
              <a
                class="checkout"
                [title]="'Thanh toán'"
                [routerLink]="['/payment']"
                >Thanh toán</a
              >
            </div>
            <ul class="dropdown_cart_scrollbar" data-simplebar>
              <li *ngFor="let item of cartList">
                <div class="cart_avatar">
                  <img
                    src="../../../assets/home/images/courses/img-1.jpg"
                    alt=""
                  />
                </div>
                <div class="cart_text">
                  <h4>{{ item.TenKhoaHoc }}</h4>
                </div>
                <div class="cart_price">
                  <span> {{ item.GiaMoi | currency : "VND" }} </span>
                  <button class="button" (click)="deleteItem(item.id)">
                    Xóa
                  </button>
                </div>
              </li>
            </ul>
            <div class="cart_footer">
              <h1>
                Tổng tiền :
                <strong> {{ totalMoney | currency : "VND" }} </strong>
              </h1>
            </div>
          </div>
        </div>

        <div>
          <a href="#">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <div
            uk-drop="mode: click;offset:5"
            class="header_dropdown profile_dropdown"
          >
            <ul>
              <li>
                <a href="#" class="user">
                  <div class="user_avatar">
                    <img [src]="user.AnhDaiDien" alt="" />
                  </div>
                  <div class="user_name">
                    <div>{{ user.TenNguoiDung }}</div>
                    <span> </span>
                  </div>
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a href="#" class="is-link">
                  <!-- <ion-icon name="rocket-outline" class="is-icon"></ion-icon> <span>  Upgrade Membership  </span> -->
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a
                  [title]="'Hồ sơ'"
                  [routerLink]="['/profile/' + user.MaNguoiDung]"
                >
                  <!-- <ion-icon name="person-circle-outline" class="is-icon"></ion-icon> -->
                  Hồ sơ
                </a>
              </li>
              <li>
                <a [title]="'Bộ sưu tập'" [routerLink]="['/collection']">
                  <!-- <ion-icon name="card-outline" class="is-icon"></ion-icon> -->
                  Bộ sưu tập
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  Đơn hàng của tôi
                </a>
              </li>

              <li>
                <a
                  [title]="'Bộ sưu tập'"
                  [routerLink]="[
                    '/admin/khoahoc/list/courses/user/' + user.MaNguoiDung
                  ]"
                >
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  Quản lý khóa học của tôi
                </a>
              </li>
              <li>
                <a
                [title]="'Bài kiểm tra'"
                [routerLink]="[
                  '/admin/test/manage/list/teacher/' + user.MaNguoiDung
                ]"
                >
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  Quản lý bài kiểm tra của tôi
                </a>
              </li>

              <li>
                <a
                [title]="'Bài kiểm tra'"
                [routerLink]="[
                  '/admin/tested/list/teacher/' + user.MaNguoiDung
                ]"
                >
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  Quản lý các bài học viên đã làm
                </a>
              </li>
        
              <li>
                <hr />
              </li>
              <li>
                <a
                  href="#"
                  id="night-mode"
                  class="btn-night-mode"
                  onclick="UIkit.notification({ message: '/assets/courseplus/default/Hmm...-strong-Nightmode-/strong-featureisnotavailableyet.html' , pos: '/assets/courseplus/default/bottom-right.html'  })"
                >
                  <!-- <ion-icon name="moon-outline" class="is-icon"></ion-icon> -->
                  Night mode
                  <span class="btn-night-mode-switch">
                    <span class="uk-switch-button"></span>
                  </span>
                </a>
              </li>
              <li>
                <a (click)="logout()">
                  <!-- <ion-icon name="log-out-outline" class="is-icon"></ion-icon> -->
                  Đăng xuất
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex" *ngIf="statusLogin == false">
        <a [title]="'Đăng nhập'" [routerLink]="['account/login']">
          <button class="button mr-3" style="background-color: goldenrod">
            Đăng nhập
          </button>
        </a>
        <a [title]="'Đăng ký'" [routerLink]="['account/register']">
          <button class="button" style="background-color: cornflowerblue">
            Đăng ký
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
