<header
  class="is-transparent is-dark border-b backdrop-filter backdrop-blur-2xl"
  uk-sticky="cls-inactive: is-dark is-transparent border-b"
>
  <div class="header_inner" style="width: 1800px">
    <div class="left-side" >
      <!-- Logo -->
      <div id="logo" >
        <a [title]="'Trang chủ'" [routerLink]="['/']">
          <img src="../../../assets/home/images/logo.png" alt="" />
          <img
            src="https://demo.foxthemes.net/courseplus/assets/images/logo.png"
            class="logo_inverse"
            alt=""
          />
          <img
            src="../../../assets/home/images/logo-mobile.png"
            class="logo_mobile"
            alt=""
          />
        </a>
      </div>
      <!-- icon menu for mobile -->
      <div class="triger" uk-toggle="target: #wrapper ; cls: is-active"></div>
    </div>
    <div class="right-side">
      <!-- Header search box  -->

      <div
        style="display: flex; margin-right: 20px"
        (click)="reloadListCart()"
        *ngIf="user.userId > 0"
      >
        <div style="margin-right: 20px">
          <fa-icon [icon]="faCartShopping"></fa-icon>

          <div uk-drop="mode: click" class="dropdown_cart" style="right: 10px">
            <div class="cart-headline">
              <a
                class="header_widgets"
                [title]="'Giỏ hàng'"
                [routerLink]="['/cart']"
              >
                Giỏ hàng
              </a>
              <a
                class="checkout"
                [title]="'Thanh toán'"
                [routerLink]="['/payment']"
                >Thanh toán</a
              >
              <a
                class="btn btn-danger"
                [title]="'Xóa hết'"
                style="background-color: aquamarine; border-radius: 5%"
                (click)="deleteAll()"
                >Xóa hết</a
              >
            </div>
            <ul class="dropdown_cart_scrollbar" data-simplebar>
              <li *ngFor="let item of cartList">
                <div class="cart_avatar">
                  <img [src]="item.courseThumbnail" alt="" />
                </div>
                <div class="cart_text">
                  <h4>{{ item.courseName }}</h4>
                </div>
                <div class="cart_price">
                  <span> {{ item.newPrice | currency : "VND" }} </span>
                  <button
                    class="btn btn-success"
                    (click)="deleteItem('id' + item.courseId)"
                    style="
                      background-color: bisque;
                      padding: 5px 10px 5px 10px;
                      border-radius: 10px;
                    "
                  >
                    Xóa
                  </button>
                </div>
              </li>
            </ul>
            <div class="cart_footer">
              <h1>
                Tổng tiền :
                <strong> {{ totalMoney | currency : "VND" }} </strong>
              </h1>
            </div>
          </div>
        </div>

        <div style="margin-right: 20px" *ngIf="user.userId > 0">
          <a href="#">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <div
            uk-drop="mode: click;offset:5"
            class="header_dropdown profile_dropdown"
          >
            <ul>
              <li>
                <a href="#" class="user">
                  <div class="user_avatar">
                    <img [src]="profile.avatar" alt="" />
                  </div>
                  <div class="user_name">
                    <div>{{ profile.profileName }}</div>
                    <span> </span>
                  </div>
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a href="#" class="is-link">
                  <!-- <ion-icon name="rocket-outline" class="is-icon"></ion-icon> <span>  Upgrade Membership  </span> -->
                </a>
              </li>
              <li>
                <hr />
              </li>
              <li>
                <a [title]="'Hồ sơ'" [routerLink]="['/profile/' + user.userId]">
                  Hồ sơ
                </a>
              </li>
              <li>
                <a
                  [title]="'Bộ sưu tập'"
                  [routerLink]="['/collection/' + user.userId]"
                >
                  <!-- <ion-icon name="card-outline" class="is-icon"></ion-icon> -->
                  Bộ sưu tập
                </a>
              </li>
              <li>
                <a
                  [title]="'Đến trang quản lý của tôi'"
                  [routerLink]="['/admin/khoahoc/list/user/' + user.userId]"
                  *ngIf="user.role === 'USER'"
                >
                  <!-- <ion-icon name="card-outline" class="is-icon"></ion-icon> -->
                  Đến trang quản lý của tôi
                </a>
              </li>
             

              <li>
                <a
                  [routerLink]="['/admin/khoahoc/list']"
                  *ngIf="user.role === 'ADMIN'"
                >
                  <!-- <ion-icon name="color-wand-outline" class="is-icon"></ion-icon> -->
                  Đến trang quản trị
                </a>
              </li>

              <li>
                <!-- <a
                  [title]="'Bộ sưu tập'"
                  [routerLink]="[
                    '/admin/khoahoc/list/courses/user/' + user.MaNguoiDung
                  ]"
                >
                
                  Quản lý khóa học của tôi
                </a> -->
              </li>
              <li>
                <!-- <a
                  [title]="'Bài kiểm tra'"
                  [routerLink]="[
                    '/admin/test/manage/list/teacher/' + user.MaNguoiDung
                  ]"
                >
      
                  Quản lý bài kiểm tra của tôi
                </a> -->
              </li>

              <li>
                <!-- <a
                  [title]="'Bài kiểm tra'"
                  [routerLink]="[
                    '/admin/tested/list/teacher/' + user.MaNguoiDung
                  ]"
                >
                  
                  Quản lý các bài học viên đã làm
                </a> -->
              </li>
              <!-- <li *ngIf="user.Quyen == 'admin'">
                <a [title]="'Khóa học'" [routerLink]="['/admin/khoahoc/list']">
              
                  Đến trang quản lý
                </a>
              </li> -->

              <li>
                <hr />
              </li>

              <li>
                <a (click)="deleteButton()">
                  <!-- <ion-icon name="log-out-outline" class="is-icon"></ion-icon> -->
                  Đăng xuất
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex" *ngIf="user.userId == 0">
        <a [title]="'Đăng nhập'" [routerLink]="['account/login']">
          <button class="button mr-3" style="background-color: goldenrod">
            Đăng nhập
          </button>
        </a>
        <a
          [title]="'Đăng ký'"
          [routerLink]="['account/register']"
          style="margin-left: 10px"
        >
          <button class="button" style="background-color: cornflowerblue">
            Đăng ký
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
