<div class="main_content">
  <div class="container">
    <div class="text-2xl font-semibold">Bài viết</div>
    <div class="flex flex-col">
      <div class="w-full max-w-sm" *ngIf="user.userId > 0">
        <div class="flex items-center border-b border-teal-500 py-2" >
          <a
            class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
            href="#modal-overflow"
            style="background-color: aquamarine"
            uk-toggle="target: #modal-example"
            uk-toggle
          >
            Tạo bài viết
          </a>

          <div id="modal-overflow" uk-modal>
            <div class="uk-modal-dialog">
              <button
                class="uk-modal-close-default m-3"
                type="button"
                uk-close
              ></button>
              <div class="uk-modal-header">
                <h2 class="uk-modal-title">Tạo Bài Viết</h2>
              </div>
              <div class="uk-modal-body" uk-overflow-auto>
                <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                  <div class="col-span-2">
                    <label for="email">
                      Tên bài viết: <span class="text-red-600">*</span></label
                    >
                    <input
                      type="text"
                      placeholder=""
                      id="email"
                      class="shadow-none with-border"
                      name="TenBaiViet"
                      [(ngModel)]="blog.blogName"
                      style="border: gray 1px solid"
                    />
                  </div>
                  <div class="col-span-2">
                    <label for="about">Nội dung bài viết</label>
                    <ckeditor [editor]="Editor" (change)="onChange($event)">
                    </ckeditor>
                  </div>
                  <!-- Website logo  -->
                  <label for="system_info" class="font-medium"
                    >Ảnh Bài Viết
                  </label>
                  <div class="col-span-2 flex py-2 space-x-5">
                    <form
                      (ngSubmit)="onSubmit()"
             
                      class="d-flex"
                    >
                      <input
                        type="file"
                        placeholder=""
                        id="location"
                        class="shadow-none with-border"
                        (change)="onFileSelected($event)"
                        name="image"
                      />
                      <button
                        type="submit"
                        class="button"
                        style="width: 200px; margin-left: 10px; padding: 5px"
                      >
                        Tải Lên
                      </button>
                    </form>
                  </div>

                  <div class="col-span-2">
                    <img
                      *ngIf="imageUrl"
                      [src]="imageUrl"
                      width="150"
                      height="200"
                    />
                  </div>
              
                  <div class="col-span-2">
                    <label> Chi tiết danh mục</label>
                    <select
                      [(ngModel)]="blog.cateid"
                      style="border: gray 1px solid"
                    >
                      <option selected>Chọn tên chi tiết danh mục...</option>
                      <option
                        *ngFor="let item of detailCates"
                        [value]="item.detailCateId"
                      >
                        {{ item.detailCateName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="uk-modal-footer text-right">
                  <button class="button gray uk-modal-close" type="button">
                    Hủy
                  </button>
                  <button class="button" type="button" (click)="createPost()">
                    Tạo
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="lg:flex lg:space-x-4 lg:-mx-4 mt-6">
        <div class="lg:w-10/12">
          <div class="divide-y tube-card px-6 md:m-0 -mx-5 py-2">
            <div *ngFor="let item of blogs">
              <div class="md:flex md:space-x-6 py-5" *ngIf="item.status > 0">
                <a
                  [title]="item.blogName"
                  [routerLink]="['/blog/detail', item.blogId]"
                  class="hover:bg-gray-50 rounded-md p-2 -mx-2 block"
                >
                  <div
                    class="md:w-56 w-full h-36 overflow-hidden rounded-lg relative shadow-sm"
                  >
                    <img
                      src="../../courseplus/assets/images/blog/img-4.jpg"
                      [src]="item.thumnail"
                      alt=""
                      class="w-full h-full absolute inset-0 object-cover"
                    />
                    <!-- <div
                      class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5"
                    >
                      {{ item.TenCTDM }}
                    </div> -->
                  </div>
                </a>
                <div class="flex-1 md:pt-0 pt-4">
                  <a
                    [title]="item.blogName"
                    [routerLink]="['/blog/detail', item.blogId]"
                    class="text-lg font-semibold line-clamp-2 leading-8"
                  >
                    {{ item.blogName }}
                  </a>
                  <p class="line-clamp-2" [innerHTML]="item.content" style="width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <!--  Sidebar  -->
        <div class="lg:w-80 w-full">
          <div
            class="space-y-5"
            uk-sticky="offset:22; bottom:true ; top:30 ; animation: uk-animation-slide-top-small"
          >
            <div class="tube-card p-6">
              <div class="flex items-start justify-between">
                <div>
                  <h4 class="text-lg -mb-0.5 font-semibold">Gợi ý bài viết</h4>
                </div>
                <a href="#" class="text-blue-600">
                </a>
              </div>
              <ul>
                <li *ngFor="let item of relateBlogs">
                  <a
                    [title]="item.blogId"
                    [routerLink]="['/blog/detail', item.blogName]"
                    class="hover:bg-gray-50 rounded-md p-2 -mx-2 block"
                    *ngIf="item.status > 0"
                  >
                    <h3 class="font-medium line-clamp-2">
                      {{ item.blogName }}
                    </h3>
                    <div
                      class="flex items-center my-auto text-xs space-x-1.5 mt-1.5"
                    >
                      <div>{{ item.datePublish | date : "dd/MM/yyyy" }}</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-6">
              <h4 class="text-lg mb-2 font-semibold">Các thẻ</h4>
              <div class="flex flex-wrap font-medium gap-2">
                <a
                  class="bg-white px-3.5 py-1.5 rounded shadow text-sm"
                  *ngFor="let cate of cates"
                 
                  style="cursor: pointer"
                >
                  {{ cate.categoryName }}
                </a>

                <a
                  class="bg-white px-3.5 py-1.5 rounded shadow text-sm"
                  *ngFor="let item of detailCates"
                  (click)="filterDetailCate(item.MaCTDM)"
                  style="cursor: pointer"
                >
                  {{ item.detailCateName }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->

  </div>
</div>
