<div
  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
  style="width: 1000px"
>
  <div class="card">
    <h5 class="card-header">Bài viết</h5>
    <div class="card-body">
      <div class="needs-validation" novalidate>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="validationCustom01">Tên bài viết</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              name=""
              required
              [(ngModel)]="blog.blogName"
            />
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
            <label for="validationCustom02">Ảnh hồ sơ</label>
            <form
              (ngSubmit)="onSubmit()"
            
              class="d-flex"
            >
              <input
                type="file"
                class="form-control"
                id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
                name="image"
                (change)="onFileSelected($event)"
              />
              <button
                class="btn btn-success"
                type="submit"
                id="inputGroupFileAddon04"
              >
                Tải Lên
              </button>
            </form>
            <img *ngIf="imageUrl" [src]="imageUrl" width="150" height="200" />
            <img
              *ngIf="blog.thumnail !== ''"
              [src]="blog.thumnail"
              src=""
              alt=""
              width="150"
              height="200"
            />
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
            <label for="validationCustom01">Nội dung </label>
            <ckeditor
              [(ngModel)]="blog.content"
              [editor]="Editor"
              (change)="onChange($event)"
            >
            </ckeditor>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <label for="validationCustom01">Ngày đăng</label>
          <input
            type="date"
            class="form-control"
            id="validationCustom01"
            name=""
            required
            [(ngModel)]="blog.datePublish"
          />
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <label for="validationCustom04">Người Dùng</label>
          <div class="d-flex">
            <input type="text" class="form-control" [(ngModel)]="blog.userId">
            <!-- <select class="form-control" [(ngModel)]="blog.userId">
              <option *ngFor="let item of listUsers" [value]="item.userId">
                {{ item.TenNguoiDung }}
              </option>
            </select> -->
            <!-- <button class="btn btn-success ml-5" (click)="openDialog('create')">
              Danh sách
            </button> -->
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <label for="validationCustom04">Danh mục</label>
          <input type="text" class="form-control" [(ngModel)]="blog.cateid">
          <!-- <select class="form-control" [(ngModel)]="blog.cateid">
            <option *ngFor="let item of listCategories" [value]="item.cateid">
              {{ item.tendm }}
            </option>
          </select> -->
        </div>

        

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
          <div class="input-group d-flex">
            <label class="be-checkbox custom-control custom-checkbox">
            

              <select [(ngModel)]="blog.status">
                <option [value]="1">Đăng bài</option>
                <option  [value]="0">Không đăng</option>
              </select>
              <span class="custom-control-label">Trạng thái</span>
            </label>
          </div>
        </div>

        <div class="form-row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            style="display: flex; justify-content: space-between"
          >
            <button
              *ngIf="type === 'create'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('create')"
            >
              Tạo
            </button>
            <button
              *ngIf="type === 'edit'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('edit')"
            >
              Cập nhật
            </button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
