<div class="main_content mt-5">
  <lib-toastify-toast-container></lib-toastify-toast-container>
  <div class="container p-0">
    <div
      class="bg-blue-600 md:rounded-b-lg md:-mt-8 md:pb-8 md:pt-12 p-8 relative overflow-hidden"
      style="background: #1877f2"
    >
      <div class="lg:w-9/12 relative z-10">
        <div class="uppercase text-gray-200 mb-2 font-semibold text-sm">
          {{ detail.TenCTDM }}
        </div>
        <h1
          class="lg:leading-10 lg:text-3xl text-white text-2xl leading-8 font-semibold"
        >
          {{ detail.TenKhoaHoc }}
        </h1>
        <p class="lg:text-lg hidden">
          {{ detail.MoTaNgan }}
        </p>
        <ul class="flex text-gray-200 gap-4 mt-4 mb-2">
          <li>
            <!-- <ion-icon name="people-circle-outline"></ion-icon>  -->

            <s>{{ detail.GiaCu | currency : "VND" }} </s>
          </li>
          <li class="flex items-center">
            <span
              class="avg bg-red-500 mr-2 px-2 rounded text-white font-semiold"
            >
              {{ detail.GiamGia }} %
            </span>
          </li>

          <li>
            <!-- <ion-icon name="people-circle-outline"></ion-icon>  -->

            {{ detail.GiaMoi | currency : "VND" }}
          </li>
        </ul>
        <ul class="lg:flex items-center text-gray-200">
          <li>
            Được tạo bởi
            <a
              href="#"
              class="text-white fond-bold hover:underline hover:text-white"
            >
              {{ detail.TenHoSo }}
            </a>
          </li>
          <li><span class="lg:block hidden mx-3 text-2xl">·</span></li>
          <li>{{ detail.ThoiGian | date : "dd/MM/yyyy" }}</li>
        </ul>
      </div>
      <img
        src="../../courseplus/assets/images/courses/course-intro.png"
        alt=""
        class="-bottom-1/2 absolute right-0 hidden lg:block"
      />
    </div>
    <div class="lg:flex lg:space-x-4 mt-4">
      <div class="lg:w-8/12 space-y-4">
        <div
          class="tube-card z-20 mb-4 overflow-hidden uk-sticky"
          uk-sticky="cls-active:rounded-none ; media: 992 ; offset:70"
        >
          <nav class="cd-secondary-nav extanded ppercase nav-small">
            <ul class="space-x-3" uk-scrollspy-nav="closest: li; scroll: true">
              <li><a href="#Overview" uk-scroll>Tổng Quan</a></li>
              <li><a href="#curriculum" uk-scroll>Mục Lục</a></li>
              <li><a href="#tests" uk-scroll>Bài Test</a></li>
              <li><a href="#announcement">Giảng Viên</a></li>
              <li><a href="#reviews">Bình Luận</a></li>
            </ul>
          </nav>
        </div>
        <!-- course description -->
        <div class="tube-card p-6" id="Overview">
          <div class="space-y-7">
            <div>
              <h3 class="text-lg font-semibold mb-3">Description</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat
              </p>
            </div>
            <div>
              <h3 class="text-lg font-semibold mb-3">What You’ll Learn</h3>
              <ul class="grid md:grid-cols-2">
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Setting up the
                  environment
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Advanced HTML
                  Practices
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Build a
                  portfolio website
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Responsive
                  Designs
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Understand
                  HTML Programming
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Code HTML
                </li>
                <li>
                  <i class="uil-check text-xl font-bold mr-2"></i>Start building
                  beautiful websites
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-lg font-semibold mb-3">Requirements</h3>
              <ul class="list-disc ml-5 space-y-1 mt-3">
                <li>Any computer will work: Windows, macOS or Linux</li>
                <li>Basic programming HTML and CSS.</li>
                <li>Basic/Minimal understanding of JavaScript</li>
              </ul>
            </div>
            <div>
              <h3 class="font-medium text-lg mb-2">
                Here is exactly what we cover in this course:
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Nam liber tempor cum soluta
                nobis eleifend option congue nihil imperdiet doming id quod
                mazim placerat facer possim assum. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <!-- course Curriculum -->
        <div id="curriculum">
          <h3 class="mb-4 text-xl font-semibold">Danh sách bài học</h3>
          <ul
            uk-accordion="multiple: true"
            class="tube-card p-4 divide-y space-y-3"
          >
            <li
              [className]="isFirst ? 'uk-open' : 'pt-2'"
              *ngFor="let lession of lessions; index as i; first as isFirst"
            >
              <a class="uk-accordion-title text-md mx-2 font-semibold" href="#">
                <div class="mb-1 text-sm font-medium">Bài {{ i + 1 }}</div>
                {{ lession.TenBaiHoc }}</a
              >
              <div class="uk-accordion-content mt-3 text-base">
                <ul class="course-curriculum-list font-medium">
                  <li
                    class="hover:bg-gray-200 p-2 flex rounded"
                    *ngFor="let video of videos"
                  >
                    <div
                      *ngIf="video.MaBaiHoc === lession.MaBaiHoc"
                      (click)="checkBought(detail.id, video.MaVideo)"
                    >
                      {{ video.TenVideo }}

                      <span class="text-sm ml-auto">
                        {{ video.ThoiLuongVideo }}
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div id="tets">
          <h3 class="mb-4 text-xl font-semibold">Các bài kiểm tra thực hành</h3>
          <div class="tube-card p-4 divide-y space-y-3">
            <a href="" *ngFor="let test of tests">
              <div class="flex items-center px-5 py-3">{{ test.TenBaiKT }}</div>
            </a>
          </div>
        </div>
        <!-- course Faq -->

        <!-- course Announcement -->
        <div id="announcement" class="tube-card p-5">
          <h3 class="text-base font-semibold mb-3">Giảng Viên</h3>
          <div class="flex items-center gap-x-4 mb-5">
            <img
              [src]="teacher.AnhDaiDien"
              alt=""
              class="rounded-full shadow w-12 h-12"
            />
            <div>
              <h4 class="-mb-1 text-base">{{ teacher.TenHoSo }}</h4>
              <span class="text-sm">
                <span class="text-gray-500"> {{ teacher.tendm }} </span>
              </span>
            </div>
          </div>

          <p>
            {{ teacher.MoTa }}
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Nam liber tempor cum soluta nobis eleifend option congue
            nihil imperdiet doming id quod mazim placerat facer possim assum.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
        <!-- course Reviews -->

        <app-comment [MaKhoaHoc]="id"></app-comment>
      </div>
      <!-- course intro Sidebar -->
      <div class="lg:w-4/12 space-y-4 lg:mt-0 mt-4">
        <div uk-sticky="top:600;offset:; offset:90 ; media: 1024">
          <div
            class="tube-card p-5"
            uk-sticky="top:600;offset:; offset:90 ; media: @s"
          >
            <div class="grid grid-cols-2 gap-4">
              <div class="flex flex-col space-y-2">
                <div class="text-3xl font-semibold">3.2</div>
                <div>Hours</div>
                <!-- <ion-icon name="time" class="text-lg" hidden></ion-icon> -->
              </div>
              <div class="flex flex-col space-y-2">
                <div class="text-3xl font-semibold">12,140</div>
                <div>Students</div>
                <!-- <ion-icon name="people-circle" class="text-lg" hidden></ion-icon> -->
              </div>
            </div>
            <hr class="-mx-5 border-gray-200 my-4" />
            <h4 hidden>COURSE INCLUDES</h4>
            <div class="-m-5 divide-y divide-gray-200 text-sm">
              <div class="flex items-center px-5 py-3">
                <!-- <ion-icon name="play-outline" class="text-2xl mr-2"></ion-icon>  -->
                13 hours on-demand video
              </div>
              <div class="flex items-center px-5 py-3">
                <!-- <ion-icon name="key-outline" class="text-2xl mr-2"></ion-icon>  -->
                Full lifetime access
              </div>
              <div class="flex items-center px-5 py-3">
                <!-- <ion-icon name="download-outline" class="text-2xl mr-2"></ion-icon>  -->
                42 downloadable resources
              </div>
              <div class="flex items-center px-5 py-3">
                <!-- <ion-icon name="help-circle-outline" class="text-2xl mr-2"></ion-icon> -->
                Assignments
              </div>
              <div class="flex items-center px-5 py-3">
                <!-- <ion-icon name="medal-outline" class="text-2xl mr-2"></ion-icon> -->
                Certificate of Completion
              </div>
            </div>
          </div>

          <a
            class="flex items-center justify-center h-20 px-6 rounded-md bg-red-600 text-white"
            (click)="addCart(detail)"
            style="cursor: pointer"
          >
            <div class="" style="color: #fff">Mua Ngay</div>
          </a>
        </div>
        <div class="tube-card p-5">
          <div class="flex items-start justify-between">
            <div>
              <h4 class="text-lg -mb-0.5 font-semibold">Đề xuất khóa học</h4>
            </div>
            <a href="#" class="text-blue-600">
              <!-- <ion-icon name="refresh" class="-mt-0.5 -mr-2 hover:bg-gray-100 p-1.5 rounded-full text-lg"></ion-icon>  -->
            </a>
          </div>
          <div class="p-1">
            <a
              href="#"
              class="-mx-3 block hover:bg-gray-100 p-2 rounded-md"
              *ngFor="let recommend of recommends"
            >
              <div class="flex items-center space-x-3">
                <img
                  [src]="recommend.AnhKhoaHoc"
                  alt=""
                  class="h-12 object-cover rounded-md w-12"
                />
                <div class="line-clamp-2 text-sm font-medium">
                  {{ recommend.TenKhoaHoc }}
                </div>
              </div>
            </a>
          </div>
          <!-- <a
            href="#"
            class="hover:bg-gray-100 -mb-1.5 mt-0.5 h-8 flex items-center justify-center rounded-md text-blue-400 text-sm"
          >
             H
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
