<div
  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
  style="width: 1000px"
>
  <div class="card">
    <h5 class="card-header">Bài học</h5>
    <div class="card-body">
      <div class="needs-validation" novalidate>
        <div class="row">
          

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="validationCustom01">Tên bài học</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              
              name=""
              required
              [(ngModel)]="lession.lessionName"
            />
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="validationCustom01">Thời gian hoàn thành</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
         
              name=""
              required
              [(ngModel)]="lession.lessionDuration"
            />
          </div>
        </div>

        <div class="form-row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            style="display: flex; justify-content: space-between"
          >
            <button
              *ngIf="type === 'create'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('create')"
            >
              Tạo
            </button>
            <button
              *ngIf="type === 'edit'"
              class="btn btn-primary"
              type="submit"
              (click)="submit('edit')"
            >
              Cập nhật
            </button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
