<body class="bg-white">
  <div id="wrapper" class="course-watch">
    <!-- sidebar -->
    <div class="sidebar">
      <!-- slide_menu for mobile -->
      <span
        class="btn-close-mobi right-3 left-auto"
        uk-toggle="target: #wrapper ; cls: is-active"
      ></span>
      <!-- back to home link -->
      <div class="flex justify-between lg:-ml-1 mt-1 mr-2">
        <a
          [routerLink]="['/detail', makhoahoc]"
          class="flex items-center text-blue-500"
        >
          <span
            class="text-sm md:inline hidden"
            style="
              background-color: bisque;
              padding: 5px 10px 5px 10px;
              border-radius: 10px;
            "
          >
            Quay lại
          </span>
        </a>
      </div>
      <!-- title -->
      <h1 class="lg:text-2xl text-lg font-bold mt-2 line-clamp-2">
        {{ course.courses.courseName }}
      </h1>
      <!-- sidebar list -->
      <div class="sidebar_inner is-watch-2" data-simplebar>
        <div id="curriculum">
          <h3 class="mb-4 text-xl font-semibold">Danh sách video</h3>
          <ul class="course-curriculum-list font-medium">
            <li
              *ngFor="let video of videos"
              class="hover:bg-gray-200 p-2 flex rounded"
              (click)="changeVideo(course.courses.courseId,video.videoId )"

            >
              <div>
                
                <b>{{ video.videoName }}</b>

                <span class="text-sm ml-auto">
                  {{ video.videoDuration }}
                </span>
              </div>
            </li>
          </ul>
          <!-- <ul>
            <li *ngFor="let lession of lessions; index as i; first as isFirst">
                <a>
                  {{ lession[0].lessionName }}
                </a>
                <div>
                    <ul>
                      <li *ngFor="let video of videos">
                          <a *ngIf="video.lessionId === lession.lessionId">
                            <div>
                              {{ video[0].videoName }}
                            </div>
                        </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul> -->
        </div>
        <div class="mt-5">
          <h3 class="mb-4 text-lg font-semibold">
            Các bài kiểm tra của khóa học
          </h3>
          <ul>
            <li *ngFor="let item of tests">
              <a [routerLink]="['/video/test', item.testId]">
                {{ item.testName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- overly for mobile -->
      <div
        class="side_overly"
        uk-toggle="target: #wrapper ; cls: is-collapse is-active"
      ></div>
    </div>
    <!-- Main Contents -->
    <div class="main_content" >
      
      <div style="margin-left: 10px;">
        <video controls width="1200px"  *ngIf="detailVideo.videoLink">
          <source [src]="detailVideo.videoLink" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <nav
        class="cd-secondary-nav border-b md:p-0 lg:px-6 bg-white"
        uk-sticky="cls-active:shadow-sm ; media: @s"
      >
        <ul uk-switcher="connect: #course-tabs; animation: uk-animation-fade">
          <li><a href="#" class="lg:px-2"> Tổng quan </a></li>
          <li><a href="#" class="lg:px-2"> Giảng viên </a></li>
        </ul>
      </nav>

      <div class="container">
        <div class="max-w-2xl lg:py-6 mx-auto uk-switcher" id="course-tabs">
          <div>
            <h4 class="text-2xl font-semibold">{{ detailVideo.videoName }}</h4>
        
            <hr class="my-5" />
            <div class="grid lg:grid-cols-3 mt-8 gap-8">
              <div>
                <h3 class="text-lg font-semibold">Mô tả</h3>
              </div>
              <div class="col-span-2">
                <p [innerHTML]="detailVideo.videoContent">
               
                </p>
              </div>
              

              
             
            </div>
          </div>

          <div>
            <h3 class="text-xl font-semibold mb-3">Giảng viên</h3>
            <div class="flex items-center gap-x-4 mb-5">
              <img
                [src]="teacher.avatar"
                alt=""
                class="rounded-full shadow w-12 h-12"
              />
              <div>
                <h4 class="-mb-1 text-base">{{ teacher.profileName }}</h4>
              </div>
            </div>
            <h4 class="leading-8 text-xl" [innerHTML]="teacher.description">
              
            </h4>
          </div>

          <!-- <div>
            <h3 class="text-xl font-semibold mb-3">Các bài kiểm tra của video</h3>
            <ul
              uk-accordion="multiple: true"
              class="divide-y space-y-3 space-y-6"
            >
              <li
                style="
                  background-color: #eff1fc;
                  padding: 10px;
                  border-radius: 10px;
                "
                *ngFor="let question of questions"
              >
                <a [routerLink]="['/video/test', question.MaBaiKT]">
                  {{ question.TenBaiKT }}
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>

    <div id="modal-example" class="lg:ml-80" uk-modal>
      <div class="uk-modal-dialog uk-modal-body rounded-md shadow-xl">
        <button
          class="absolute block top-0 right-0 m-6 rounded-full bg-gray-100 leading-4 p-1 text-2xl uk-modal-close"
          type="button"
        >
          <i class="icon-feather-x"></i>
        </button>
        <div class="text-sm mb-2">Section 2</div>
        <h2 class="mb-5 font-semibold text-2xl">Your First webpage</h2>
        <p class="text-base">
          Do You want to skip the rest of this chapter and chumb to next
          chapter.
        </p>
        <div class="text-right pt-3 mt-3">
          <a
            href="#"
            class="py-2 inline-block px-8 rounded-md hover:bg-gray-200 uk-modal-close"
          >
            Stay
          </a>
          <a href="#" class="button"> Continue </a>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- [routerLink]="['/course/watching/detail',detail.id,video.MaVideo]" -->
<!-- (click)="showVideo(video.MaVideo)" -->
