<body class="bg-white">
  <div id="wrapper" class="course-watch">
    <!-- sidebar -->
    <div class="sidebar">
      <!-- slide_menu for mobile -->
      <span
        class="btn-close-mobi right-3 left-auto"
        uk-toggle="target: #wrapper ; cls: is-active"
      ></span>
      <!-- back to home link -->
      <div class="flex justify-between lg:-ml-1 mt-1 mr-2">
        <a
          [routerLink]="['/detail', makhoahoc]"
          class="flex items-center text-blue-500"
        >
          <span
            class="text-sm md:inline hidden"
            style="
              background-color: bisque;
              padding: 5px 10px 5px 10px;
              border-radius: 10px;
            "
          >
            Quay lại
          </span>
        </a>
      </div>
      <!-- title -->
      <h1 class="lg:text-2xl text-lg font-bold mt-2 line-clamp-2">
        {{ course.courses.courseName }}
      </h1>
      <!-- sidebar list -->
      <div class="sidebar_inner is-watch-2" data-simplebar>
        <div id="curriculum">
          <h3 class="mb-4 text-xl font-semibold">Danh sách bài học</h3>
          <ul
            uk-accordion="multiple: true"
            class="tube-card p-4 divide-y space-y-3"
          >
            <li
              [className]="isFirst ? 'uk-open' : 'pt-2'"
              *ngFor="let lesson of lessions; index as i; first as isFirst"
            >
              <a class="uk-accordion-title text-md mx-2 font-semibold" href="#">
                {{ lesson.lessionName }}</a
              >
              <div class="uk-accordion-content mt-3 text-base">
                <ul class="course-curriculum-list font-medium">
                  <li
                    *ngFor="let video of videos"
                    class="hover:bg-gray-200 p-2 flex rounded"
                  >
                    <div *ngIf="video.lessionId === lesson.lessionId">
                      {{ video.videoName }}

                      <span class="text-sm ml-auto">
                        {{ video.videoDuration }}
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <!-- <ul>
            <li *ngFor="let lession of lessions; index as i; first as isFirst">
                <a>
                  {{ lession[0].lessionName }}
                </a>
                <div>
                    <ul>
                      <li *ngFor="let video of videos">
                          <a *ngIf="video.lessionId === lession.lessionId">
                            <div>
                              {{ video[0].videoName }}
                            </div>
                        </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul> -->
        </div>
        <div class="mt-5">
          <h3 class="mb-4 text-lg font-semibold">
            Các bài kiểm tra của khóa học
          </h3>
          <ul>
            <li *ngFor="let item of tests">
              <a [routerLink]="['/video/test', item.testId]">
                {{ item.testName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- overly for mobile -->
      <div
        class="side_overly"
        uk-toggle="target: #wrapper ; cls: is-collapse is-active"
      ></div>
    </div>
    <!-- Main Contents -->
    <div class="main_content">
      <div class="relative">
        <ul class="uk-switcher relative z-10" id="video_tabs">
          <li>
            <!-- to autoplay video uk-video="automute: true" -->
            <div class="embed-video" *ngIf="detailVideo">
              <iframe
                [src]="
                  sanitizer.bypassSecurityTrustResourceUrl(
                    detailVideo.videoLink
                  )
                "
                frameborder="0"
                uk-video="automute: true"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                uk-responsive
              ></iframe>
            </div>
          </li>
        </ul>
        <div
          class="bg-gray-200 w-full h-full absolute inset-0 animate-pulse"
        ></div>
      </div>
      <nav
        class="cd-secondary-nav border-b md:p-0 lg:px-6 bg-white"
        uk-sticky="cls-active:shadow-sm ; media: @s"
      >
        <ul uk-switcher="connect: #course-tabs; animation: uk-animation-fade">
          <li><a href="#" class="lg:px-2"> Tổng quan </a></li>
          <li><a href="#" class="lg:px-2"> Giảng viên </a></li>
          <li><a href="#" class="lg:px-2"> Bài kiểm tra </a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="max-w-2xl lg:py-6 mx-auto uk-switcher" id="course-tabs">
          <div>
            <h4 class="text-2xl font-semibold">{{ detailVideo.videoName }}</h4>
            <p>{{ detailVideo.videoContent }}</p>
            <hr class="my-5" />
            <div class="grid lg:grid-cols-3 mt-8 gap-8">
              <div>
                <h3 class="text-lg font-semibold">Mô tả</h3>
              </div>
              <div class="col-span-2">
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat. Ut wisi enim ad minim laoreet dolore
                  magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat
                  <br />
                  <a href="#" class="text-blue-500">Đọc thêm ...</a>
                </p>
              </div>
              <div>
                <h3 class="text-lg font-semibold">Bạn sẽ được học :</h3>
              </div>

              <div>
                <h3 class="text-lg font-semibold">Bắt buộc</h3>
              </div>
              <div class="col-span-2">
                <ul class="list-disc ml-5 space-y-1">
                  <li>Any computer will work: Windows, macOS or Linux</li>
                  <li>Basic programming HTML and CSS.</li>
                  <li>Basic/Minimal understanding of JavaScript</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- <div>
            <h3 class="text-xl font-semibold mb-3">Giảng viên</h3>
            <div class="flex items-center gap-x-4 mb-5">
              <img
                src="courseplus/assets/images/avatars/avatar-4.jpg"
                alt=""
                class="rounded-full shadow w-12 h-12"
              />
              <div>
                <h4 class="-mb-1 text-base">{{ teacher.profileName }}</h4>
                
              </div>
            </div>
            <h4 class="leading-8 text-xl">
              {{ teacher.profileName }}
            </h4>
            
          </div> -->

          <!-- <div>
            <h3 class="text-xl font-semibold mb-3">Các bài kiểm tra của video</h3>
            <ul
              uk-accordion="multiple: true"
              class="divide-y space-y-3 space-y-6"
            >
              <li
                style="
                  background-color: #eff1fc;
                  padding: 10px;
                  border-radius: 10px;
                "
                *ngFor="let question of questions"
              >
                <a [routerLink]="['/video/test', question.MaBaiKT]">
                  {{ question.TenBaiKT }}
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>

    <div id="modal-example" class="lg:ml-80" uk-modal>
      <div class="uk-modal-dialog uk-modal-body rounded-md shadow-xl">
        <button
          class="absolute block top-0 right-0 m-6 rounded-full bg-gray-100 leading-4 p-1 text-2xl uk-modal-close"
          type="button"
        >
          <i class="icon-feather-x"></i>
        </button>
        <div class="text-sm mb-2">Section 2</div>
        <h2 class="mb-5 font-semibold text-2xl">Your First webpage</h2>
        <p class="text-base">
          Do You want to skip the rest of this chapter and chumb to next
          chapter.
        </p>
        <div class="text-right pt-3 mt-3">
          <a
            href="#"
            class="py-2 inline-block px-8 rounded-md hover:bg-gray-200 uk-modal-close"
          >
            Stay
          </a>
          <a href="#" class="button"> Continue </a>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- [routerLink]="['/course/watching/detail',detail.id,video.MaVideo]" -->
<!-- (click)="showVideo(video.MaVideo)" -->
